[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
sqlalchemy = "*"
python-json-logger = "*"
raven = "*"

[dev-packages]

[requires]
python_version = "3.6"
